@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient
@inject IConfiguration Configuration
@using System.IdentityModel.Tokens.Jwt;
<PageTitle>Ecommerce</PageTitle>

@code {
    private bool isLoggedIn = false;

    private string token;
     private string clientId;
    private string username;
    
    protected override void OnInitialized()
    {
        clientId = Configuration.GetValue<string>("AppSettings:ClientId");
    }


     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = new Uri(NavigationManager.Uri);
            if (uri.Query.Contains("token="))
            {
                token = uri.Query.Split("=")[1];
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "token", token);
                isLoggedIn = true;
               

        //string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c";

            var handler = new JwtSecurityTokenHandler();
            var decodedToken = handler.ReadJwtToken(token);
// loop through claims and find email claim
foreach (var claim in decodedToken.Claims)
{
    if (claim.Type == "UserName")
    {
        // display email
        username = claim.Value;
    }
}

 StateHasChanged();
            }


        }
    }

    private async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "token");
        isLoggedIn = false;
        StateHasChanged();
        NavigationManager.NavigateTo("/");
    }

    @* //serach product
    private string searchQuery;

private async Task SearchProducts()
{
    NavigationManager.NavigateTo($"/?search={searchQuery}");
} *@

}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
        <div class="top-row px-4">
         @* <form class="d-flex" role="search" onsubmit="@SearchProducts">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @bind-value="@searchQuery">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> *@

          <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            
            @if (!isLoggedIn)
            {
                <a href="cart" class="btn btn-light border px-3 pt-2 icon-hover mx-2" data-toggle="tooltip" data-placement="top" title="View Items in a Cart"><i class="bi bi-cart4"></i></a>
            <a href="wishlist" class="btn btn-light border px-3 pt-2 icon-hover mx-2" data-toggle="tooltip" data-placement="top" title="View Wishlist"><i class="bi bi-heart-fill text-danger"></i></a>
                <button class="btn btn-outline-danger my-2 my-sm-0 mx-2" @onclick='() => NavigationManager.NavigateTo($"https://localhost:7085/?ClientId={clientId}")'>Login</button>
            }
            else
            {
            <a href="@($"/cart?token={token}")" class="btn btn-light border px-3 pt-2 icon-hover mx-2" data-toggle="tooltip" data-placement="top" title="View Items in a Cart"><i class="bi bi-cart4"></i></a>
            <a href="@($"/wishlist?token={token}")" class="btn btn-light border px-3 pt-2 icon-hover mx-2" data-toggle="tooltip" data-placement="top" title="View Wishlist"><i class="bi bi-heart-fill text-danger"></i></a>
                <a href="@($"/profile?token={token}")">
                    <button  class="btn btn-outline-success " type="button" id="profile-btn"  aria-expanded="false" data-toggle="tooltip" data-placement="top" title="My Profile">
                    <i class="bi bi-person-badge"></i>Welcome, @username!
                </button>
                </a>
                
                 <button class="btn btn-outline-danger my-2 my-sm-0 mx-2" @onclick="Logout">Logout</button>
            }
            
          @* <div id="mode" class="toggle btn btn-outline-danger my-2 my-sm-0 mx-2" data-toggle="tooltip" data-placement="top" title="Change Mode">
                        <i class="bi bi-moon-stars"></i>
           </div> *@
    
        </div>
 <article class="content px-4">
            @Body
    </article>
        
    </main>
</div>
